body                { background-color: #eee;  margin: 0px; padding: 0px; }
div                 { font-family: tahoma, arial, sans-serif; }
.wrapper            { float: left; width: 1024px; height: 768px; }
.box                { float: left; background-color: #fff; border-bottom: 1px solid #ddd; margin: 20px 20px 0px 20px; padding: 20px;}
.full               { width: 944px; }
.half               { width: 442px; }
.half:last-child    { margin-left: 0px; }
.box img            { margin-right: 16px; margin-bottom: 16px;}
.box img.last       { margin-right: 0px;}