body                { background-color: #ddd;  margin: 0px; padding: 0px; }
div                 { font-family: tahoma, arial, sans-serif; }
.wrapper            { float: left; width: 1024px; height: 768px; }

.box                { float: left; background-color: #fff; border-bottom: 1px solid #ddd; width: 100%; margin-top: 20px ;}
.boxsmall           { float: left; background-color: #fff; }

.full               { width: 944px; margin-left:20px;}
.half               { width: 442px; }

.one_third          { margin-left: 20px; width: 320px; float: left; }
.two_third          { margin-left: 20px; width: 604px; float: left; }

.episodebox         { width: 100%; margin-top: 2px; }
.settingsbox div    { padding: 10px; }

.season             { color: #aaa; float: left; font-weight: bold; font-size: 30px; width: 60px; border-right: 3px solid green; height: 43px; line-height: 43px; text-align: center; border-bottom: 1px solid #ddd;}
.episodeinfo        { float: left; border-bottom: 1px solid #ddd; height: 43px; width: 474px; }
.episodenum         { border-left: 3px solid green; color: #aaa; float: right; font-weight: bold; font-size: 30px; width: 60px; height: 43px; line-height: 43px; text-align: center; border-bottom: 1px solid #ddd;}

h1                  { font-size: 16px; font-weight: bold; padding: 10px; margin: 0px; }
h2                  { font-size: 16px; font-weight: normal; padding: 10px; margin: 0px; }
.box img            { padding: 10px; }
p                   { padding: 10px; }
.episodeinfo p      { margin: 0px; padding-top: 3px; padding-left: 10px; }
.showlist img       { margin: 0px; padding: 0px; margin-top: 10px; margin-left: 10px;}
.showlist           { padding-bottom: 10px; }
.season_link        { float: left; width: 43px; height: 43px; background-color: #fff; line-height:43px; border-bottom: 1px solid #ddd; text-align: center; margin: 0px; margin-right: 3px; margin-top: 2px; }
.season_link:hover  { background-color: #eee; }
.season_link a      { font-size: 30px; font-weight: normal; color: #aaa; text-decoration: none; }

.season.na          { border-right: 3px solid red;}
.episodenum.na      { border-left: 3px solid red;}

a                   { text-decoration: none; color: #000; }

.searchresultbox    { margin-top: 2px; margin-left: 20px; }
.searchresultbox div:first-child { padding: 10px; width: 800px; float: left;}
.searchresultbox div:last-child { padding: 10px; float: right;}

.remote_button { display: block; float: right; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background-color: #5cb85c;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #fff; font-size: 12px; height: 43px; min-width: 43px; text-align: center;
    line-height: 43px; font-weight: bold;
}

.remote_button img {
    padding-top: 13px;
}